<!-- Carousel -->
<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
  <ol class="carousel-indicators">
    <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
  </ol>
  <div class="carousel-inner item">
    <div class="carousel-item active" id="carousel-text link-style">
      <img class="d-block w-100" src="https://i.pinimg.com/564x/56/f4/cc/56f4cc714351aef26d0c57bb6db07b62.jpg" alt="Envelope Flowers">
      <div class="carousel-caption d-none d-md-block">
        <div class="container" id="carousel-text">
          <h5>Новый дизайн.</h5>
          <p>Цветы в конверте - хит этого сезона. <a href=""> Перейти к товару</a>></p>
        </div>
      </div>
    </div>
    <div class="carousel-item" id="carousel-text link-style">
      <img class="d-block w-100" src="https://i.pinimg.com/564x/ee/78/90/ee78900c276969beb3f6a71122809f3e.jpg" alt="Second slide">
      <div class="carousel-caption d-none d-md-block">
        <div class="container" id="carousel-text">
          <h5>Нежный букет.</h5>
          <p>Пользуется популярностью у многих женщин. <a href=""> Перейти к товару</a>></p>
        </div>
      </div>
    </div>
    <div class="carousel-item" id="carousel-text link-style">
      <img class="d-block w-100" src="https://i.pinimg.com/564x/bb/27/69/bb2769a448c59c297b558701e7d65013.jpg" alt="Third slide">
      <div class="carousel-caption d-none d-md-block">
        <div class="container" id="carousel-text">
          <h5> Белый шик.</h5>
          <p> Белый всегда в моде, придется по вкусу любой женщине. <a href=""> Перейти к товару</a>></p>
        </div>
      </div>
    </div>
  </div>
  <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Предыдущий</span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Следующий</span>
  </a>
</div>
<!-- ./Carousel -->