<div class="container">
  <div class="col-6 form cart">
    <h2 align="center">Ваш заказ успешно оформлен!</h2>
    <p>Скачать чек:
      <%= link_to 'PDF', order_path(format: 'pdf') %>
    </p>
  </div>
</div>