<div class="carts form cart">
  <h2 align="center">Корзина</h2>
  <table style="margin-left: 2em;width: 1300px;margin-bottom: 1em;">
    <%= render (@cart.line_items) %>
    <tr class="total_line">
      <td colspan="2">Total</td>
      <td class="total_cell"><%= number_to_currency(@cart.total_price, format: "%n BYN") %></td>
    </tr>
  </table>
  <span>
    <div style="column-width: 10em;margin-left: 380px;margin-bottom: 1em;">
      <%= link_to "Оформить заказ", new_order_path, class: 'btn btn-change'%>
      <%= button_to 'Очистить корзину', @cart, method: :delete, data: { confirm: 'Вы уверенны?' }, class: 'btn btn-delete'%>
    </div>
  </span>
</div>