<div class="container form cart">
  <% if @cart.line_items.any? %>
    <%= render @cart %>
  <% else %>
    <h2 align="center" style="margin-top: 10px; margin-bottom: 10px">Корзина пуста</h2>
  <% end %>
</div>