<div class="block">
  <li class="product-wrapper">
    <div class="product">
      <%= link_to product.title, product_path(product.id)%>
      <p> this is product</p>
      <%= button_to 'Добавить в корзину', line_items_path(product_id: product), class: 'btn btn-change', id:'category-add-btn', remote: true %>
    </div>
  </li>

</div>
