<div class="container">
  <div class="row justify-content-center align-items-center">
    <div class="row image-style">
      <%= image_tag @product.image_url.url() %>
      <div class="col-6" style="margin-top: 30px; margin-left: 20px">
        <h1><%= @product.title %></h1>
        <% if @product.available %>
          <p> Available </p>
          <% else %>
          <p> Not available </p>
        <% end %>
        <p><%= @product.description %></p>
        <p>Цена: <%= @product.price %></p>
      </div>
    </div>
  </div>
</div>