<div class="container">
  <div class="row justify-content-center align-items-center" style="height:50vh">
    <div class="col-6">
      <h1><%= @product.title %></h1>
      <span><%= @product.available %></span>
      <p><%= @product.description %></p>
      <p><%= @product.price %></p>
    </div>
  </div>
</div>