<tr>
  <td><%= line_item.quantity %>&times;</td>
  <td><%= line_item.product.title %></td>
  <td class="item_price"><%= number_to_currency(line_item.product.price, format: "%n BYN") %></td>
  <td><%= link_to 'Удалить', line_item, method: :delete, remote: true %></td>
</tr>